.hero {
  // padding-top: 200px;
  // padding-bottom: 200px;

  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0px;
  background-color: $primery-bg-color;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/mobile/hero/hero-480.jpg');
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/mobile/hero/hero-960.jpg');
  }
  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/mobile/hero/hero-1440.jpg');
  }

  @media screen and (min-width: $tablet) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('//images/tablet/hero/hero-768.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('//images/tablet/hero/hero-1536.jpg');
    }
    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('//images/tablet/hero/hero-2304.jpg');
    }
  }

  @media screen and (min-width: $desktop) {
    padding: 200px 0px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('//images/desktop/hero/hero-1600.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('//images/desktop/hero/hero-3200.jpg');
    }
    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('//images/desktop/hero/hero-4800.jpg');
    }
  }
  @media screen and (min-width: 1600px) {
    width: 1600px;
  }
}

.hero__title {
  color: $primery-white-color;
  margin: 0 auto 30px auto;
  @include fonts-properties($fw: 900, $fs: 26px, $lh: 1.61, $ls: 0.06em);
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: $tablet) {
    width: 360px;
  }

  @media screen and (min-width: $desktop) {
    @include fonts-properties($fw: 900, $fs: 44px, $lh: 1.36, $ls: 0.06em);
    width: 696px;
  }
}

.hero__button {
  @extend %button;
  min-width: 216px;
  padding: 10px 32px;
}
