.mobile-menu {
  display: none;
  @media screen and (max-width: 767px) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: $primery-white-color;
    transform: translateY(100%);
    transition: transform $transition, opacity $transition, visibility $transition;
  }
  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transform: translateY(0);
  }
}

.mobile-menu__container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: $primery-white-color;
  @media screen and (min-width: $mobile) {
    width: 480px;
  }
}

.mobile-menu__btn-close {
  position: absolute;
  position: absolute;
  background-color: $primery-white-color;
  fill: #000;
  transition: fill $transition;
  cursor: pointer;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  border: none;
  &:hover {
    fill: $accent-color;
  }
}

.mobile-menu__navigation {
  margin-bottom: auto;
}

.mobile-menu__nav-item:not(:last-child) {
  padding-bottom: 32px;
}

.mobile-menu__link {
  display: block;
  @include fonts-properties($fw: 500, $fs: 40px, $lh: 1.18, $ls: 0.02em);
  color: $title-text-color;
  transition: color $transition;
  &--current {
    color: $accent-color;
  }

  @media screen and (max-width: 440px) {
    font-size: 30px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.mobile-menu__contacts-link-tel {
  @include fonts-properties($fw: 500, $fs: 34px, $lh: 1.18, $ls: 0.02em);
  color: $accent-color;
  padding-bottom: 32px;
  @media screen and (max-width: 440px) {
    font-size: 26px;
  }
}

.mobile-menu__contacts-link-email {
  @include fonts-properties($fw: 500, $fs: 24px, $lh: 1.7, $ls: 0.02em);
  color: $primery-text-color;
  padding-bottom: 64px;
  @media screen and (max-width: 440px) {
    font-size: 18px;
  }
}

.mobile-menu__socials {
  display: flex;
}

.mobile-menu__socials-item {
  padding: 0 10px;
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.mobile-menu__socials-link {
  @include fonts-properties($fw: 500, $fs: 18px, $lh: 1.22, $ls: 0.02em);
  color: $accent-color;
  @media screen and (max-width: 440px) {
    font-size: 12px;
  }
}
