// .section {
//   padding-top: 94px;
//   padding-bottom: 94px;
//   &--no-padding-top {
//     padding-top: 0;
//   }
//   &--secondary-bgc {
//     background-color: $secondary-bg-color;
//   }
// }

.section {
  padding: 60px 0;
  background-color: $primery-white-color;

  @media screen and (min-width: $desktop) {
    padding: 94px 0;
  }

  &--no-padding-top {
    display: none;
    @media screen and (min-width: $desktop) {
      display: block;
      padding-top: 0;
    }
  }
  &--secondary-bgc {
    background-color: $secondary-bg-color;
  }
}

.section__title {
  color: $title-text-color;
  margin-top: 0;
  margin-bottom: 30px;

  @include fonts-properties($fw: 700, $fs: 28px, $lh: 1.17, $ls: 0.03em);
  text-align: center;

  @media screen and (min-width: $desktop) {
    @include fonts-properties($fw: 700, $fs: 36px, $lh: 1.17, $ls: 0.03em);
    margin-bottom: 50px;
  }
}
