.work {
  display: flex;
  justify-content: space-between;
}

.work__item {
  position: relative;
  // &:not(:last-child) {
  //   margin-right: 30px;
  // }
}

.work__title {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  bottom: 0;

  @include fonts-properties($fw: 700, $fs: 14px, $lh: 1.14, $ls: 0.03em);
  text-transform: uppercase;
  color: $primery-white-color;
  background: rgba(47, 48, 58, 0.8);
}
