body {
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: $primery-text-color;
  background-color: $primery-white-color;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
