$primery-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primery-bg-color: #2f303a;
$secondary-bg-color: #f5f4fa;
$primery-white-color: #ffffff;
$icon-color: #afb1b8;
$black-color: #000000;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$button-hover: #188ce8;

$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Raleway', sans-serif;
